<div class="navbar-wagon">
  <!-- Logo -->


    <!-- Button (call-to-action) -->
    <%= link_to t(".top_call_to_action", default: "Add new restaurant"), new_restaurant_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>


